@model LoginViewModel
@{
    ViewBag.Title = "註冊/登入";
}
@section CSS{
    <link rel="stylesheet" href="~/Assets/css/account/login.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
}


<section class="section_loginForm">
    <div class="login-modal">
        <div class="container-main">
            <div class="change-box">
                <span class="title title-login selected" for="title-check">登入</span>
                <a href="@Url.Action("Register","Account")" class="title title-register" for="title-check">註冊</a>
            </div>
            <div class="login-block show">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.AccountName, new { @class = "input login-account", placeholder = "帳號名稱" })
                        <p class="warn login-email"></p>
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "input login-password", placeholder = "密碼" })
                        <p class="warn login-password"></p>
                    </div>
                    <div class="form-group">
                        <div class="col-12 my-2 p-0">
                            <div class="g-recaptcha" data-sitekey="6LeLVlMaAAAAADkkfAMP4arVnv7UaucyZNIHf2I8"></div>
                        </div>
                    </div>
                    <button class="button btn_login" type="button"><span class="spinner-border opacity"></span>登入</button>
                    <div class="other">
                        <div class="box">
                            <span>
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "login-remember" })
                                @Html.LabelFor(m => m.RememberMe)
                            </span>
                            <a href="@Url.Action("ForgotPassword","Account")" class="forget color-gray" for="title-check">
                                忘記密碼?
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


@section JS {
    <script src="~/Assets/js/account/login.js"></script>

}