@model CustomerService
@{
    ViewBag.Title = "客服細節";
}

<section class="container-lg" style="margin:150px auto 300px;">
    <h1 class="mt-5 mb-3">客服問題細節</h1>
    <table class="table">
        <tr class="thead-dark">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(x => x.Id)
            </td>
            <td>
                @Html.DisplayFor(x => x.Name)
            </td>
            <td>
                @Html.DisplayFor(x => x.Email)
            </td>
            <td>
                @Html.DisplayFor(x => x.Phone)
            </td>
            <td>
                @Html.DisplayFor(x => x.Content)
            </td>
        </tr>
    </table>
    @Html.ActionLink("回到上一頁", "ShowList", "Home")
</section>

